# ============================
# ROS 2 / Colcon build folders
# ============================
build/
install/
log/

# ============================
# CMake and intermediate files
# ============================
CMakeFiles/
cmake-build-debug/
*.o
*.out

# ============================
# Editor & system files
# ============================
.idea/
.vscode/
.DS_Store
__pycache__/

# ============================
# Legacy or unused items
# ============================
data/
projects/.c9/
html/
wiki edit